{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <nav class="menu-bar">
      <ul>
          <li style="margin-left: auto;"><a href="/lab-4">home</a></li>
          <li><a href=add-note>add notes</a></li>
          <li><a href=note-list>note card</a></li>
      </ul>
    </nav>
    <div class = "glassmorphism-box" style="width: 500px;">
      <h1 class = "index">My Notes</h1>
      <div class = "flexbox-container">
        <table>
          <tr>
            <th>To</th>
            <th>From</th>
            <th>Title</th>
            <th>Message</th>
          </tr>
          {% for i in notes %}
          <tr>
            <td>{{i.to}}</td>
            <td>{{i.From}}</td>
            <td>{{i.title}}</td>
            <td>{{i.message}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </body>
</html>