{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
    <link rel="stylesheet" href="{% static 'css/card.css' %}" />
  </head>
  <body>
    <nav class="menu-bar">
      <ul>
          <li style="margin-left: auto;"><a href="/lab-4">home</a></li>
          <li><a href=add-note>add notes</a></li>
          <li><a href=note-list>note card</a></li>
      </ul>
    </nav>
    <h1 style="margin-top: 100px;">Card List</h1>
    <div class="flexbox-container">
      {% for i in notes %}
      <div class="card">
        <div>To. {{i.to}}</div>
        <div class="message">
          <div class="title">{{i.title}}</div>
          <div>{{i.message}}</div>
        </div>
        <div style="text-align: right; position: relative; bottom: 0;">
          Regards,
          <div>{{i.From}}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>