{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Add Notes</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <nav class="menu-bar">
            <ul>
                <li style="margin-left: auto;"><a href="/lab-4">home</a></li>
                <li><a href=add-note>add notes</a></li>
                <li><a href=note-list>note card</a></li>
            </ul>
        </nav>
        <div class="glassmorphism-box" style="width: 410px;">
            <h1>ADD NOTE</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <div class= "flexbox-container" style="justify-content: left;">
                    <div style="padding-right: 10px;">From
                        <div>{{ form.to }}</div>
                    </div>
                    <div>
                        To
                        <div>{{ form.From }}</div>
                    </div>
                </div>
                <div>
                    Title
                    <div>{{ form.title }}</div>
                </div>
                <div>
                    Message
                    <div>{{ form.message }}</div>
                </div>
                <div class="flexbox-container"><input type="submit"></div>
            </form>
        </div>
    </body>
</html>