<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <style>
        body {
            background-color: black;
            color: white;
        }
        table, th, tr, td{
            border: 1px solid white;
        }
        th {
            color: yellow;
        }
    </style>
  </head>
  <body>
    <h1>My Friend List</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% for i in friends %}
      <tr>
        <td>{{i.name}}</td>
        <td>{{i.npm}}</td>
        <td>{{i.dob}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>