<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Add Friends</title>
        <style>
            html{
                scroll-behavior: smooth;
                height: 100%;
            }

            body {
                background: linear-gradient(235deg, rgb(255, 15, 79), cyan);
                color: white;
                margin: 0;
                display: flex;
                justify-content: center;
            }

            input, select, textarea {
                font-size: 1rem;
                margin-top: 8px;
                background: rgba(255,255,255,0.6);;
                border-radius: 5px;
                border-color: transparent;
            }
            .box{
                background: rgba(255,255,255,0.2);
                font-size: 0.8rem;
                border-radius: 15px;
                padding: 20px;
                margin-top: 200px;
                height: 250px;
                width: 200px;
            }
        </style>
    </head>
    <body>
        <div class="box">
            <h1 style="text-align: center;">ADD FRIEND</h1>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <!-- <input name="name" type="text" placeholder="NAME" required=True>
                <input name="npm" type="text" placeholder="NPM" required=True>
                <input name="dob" type="date" placeholder="dd-mm-yy" required=True> -->
                <div style="display: flex; justify-content: center; margin-top: 15px;"><input type="submit"></div>
            </form>
        </div>
    </body>
</html>