@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    font-family: 'Comfortaa', cursive;
    background: linear-gradient(45deg, rgb(2, 14, 31),rgb(110, 110, 110));
}
h1 {
    text-align: center;
    color: white;
}
.flexbox-container {
    display: flex;
    flex-wrap: wrap;
}
.card {
    background: linear-gradient(235deg, rgb(0, 26, 255), cyan);
    width: 300px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
.message {
    background: rgba(255,255,255,0.3);
    margin: 10px 0 20px 0;
    border-radius: 5px;
    padding: 2px;
}
.title {
    margin-bottom: 10px;
    font-weight: bold;
}
nav.menu-bar ul{
    left: 0;
    list-style-type: none;
    font-size: 20px;
    position: fixed;
    margin: 0;
    width: 100%;
    font-family: 'Comfortaa', cursive;
    display: inline-flex;
    top: 0;
    padding: 0;
    background-color: black;
    z-index: +1;
    opacity: 0.6;
}
nav.menu-bar li a{
    text-align: center;
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    padding: 22px 28px;
}
nav.menu-bar li a:hover{
    color: rgb(65, 154, 224);
}