@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    font-family: 'Comfortaa', cursive;
    background: linear-gradient(45deg, rgb(20, 130, 255),rgb(20, 255, 169));
}
table, th, td, tr{
    border: 2px solid black;
    padding: 5px;
}
th {
    color: yellow;
}
input, select, textarea {
    font-size: 1rem;
    margin-top: 8px;
    background: rgba(255,255,255,0.6);;
    border-radius: 5px;
    border-color: transparent;
}
.index {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}
.glassmorphism-box{
    background: rgba(255,255,255,0.6);
    border-radius: 5px;
    border-color: transparent;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px 30px 20px;
}
.flexbox-container {
    display: flex;
    justify-content: center;
}
nav.menu-bar ul{
    left: 0;
    list-style-type: none;
    font-size: 20px;
    position: fixed;
    margin: 0;
    width: 100%;
    font-family: 'Comfortaa', cursive;
    display: inline-flex;
    top: 0;
    padding: 0;
    background-color: black;
    opacity: 0.6;
    z-index: +1;
}
nav.menu-bar li a{
    text-align: center;
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    padding: 22px 28px;
}
nav.menu-bar li a:hover{
    color: rgb(65, 154, 224);
}